body {
  background: #f4f4f4;
}

.header-container {
	width: 100%;
	height: 61px;
	background-color: var(--light-peach);
}
.site-header {
	padding: 0 30px;
	background: #fff;
	box-shadow: 0 1px 0 0 #C3C5C8;
	z-index: 2000;
}
.site-header-inner {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0;
}
.top-navigation {
	position: relative;
	height: 58px;
}